<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OtomasyonYugulaması.Properties.Settings.FPageUserConnectionString"
            connectionString="Data Source=.\SQLEXPRESS01;Initial Catalog=FPageUser;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="OtomasyonYugulaması.Properties.Settings.verilmisConnectionString"
            connectionString="Data Source=.\SQLEXPRESS01;Initial Catalog=verilmis;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="OtomasyonYugulaması.Properties.Settings.mevcutConnectionString"
            connectionString="Data Source=.\SQLEXPRESS01;Initial Catalog=mevcut;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>